* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

/*? base style */

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 32rem; */
  min-height: 100vh;
}

h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

/* react toastify css  */

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

/*? layout Rule  */

.container {
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*? Module Rules / Reusable */
button {
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}

.secondary-btn {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem var(--btn-color);
  margin-left: 3.2rem;
}

/*? state rules  */

button:hover {
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
  /* border: 0.2rem solid #fff; */
}

a:hover,
a.active {
  color: #535bf2;
}

/* pseduo elements  */
.main-heading {
  position: relative;
  text-transform: capitalize;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 0.5rem;
    background-color: var(--btn-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover,
  a.active {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/***** Hero Section *****/

.section-hero {
  & .grid {
    align-items: center;
  }

  .hero-content {
    & p {
      margin: 2.4rem 0 4.8rem 0;
      &:first-child {
        margin: 0 0 1.2rem 0;
      }
    }
  }

  .hero-image {
    display: flex;
    justify-content: center;
    & img {
      width: 70%;
      height: auto;
    }
  }
}

/***** End Hero  *****/

/***** analytics Section *****/

.section-analytics {
  margin: 9.6rem 0;

  & .container {
    background-color: var(--bg-color);
    border-radius: 1rem;
  }

  & .grid {
    color: var(--dark-color);

    & .div1 {
      text-align: center;
      border-right: 0.2rem solid var(--dark-color);

      &:last-child {
        border: none;
      }
      & h2 {
        font-size: 4.8rem;
      }
      & p {
        text-transform: capitalize;
      }
    }
  }
}

/***** End analytics Section *****/

/** -----------------------
** contact section css
** -------------------------  */
.section-contact {
  & .contact-content {
    padding: 0;

    & h1 {
      margin-bottom: 3.2rem;
    }
  }
  & .container {
    padding-top: 3.2rem;
  }
  & .contact-img {
    display: flex;
    justify-content: start;
    align-items: center;
    & img {
      width: 80%;
      height: auto;
    }
  }

  & .section-form {
    & form {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    & label {
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 80%;
      padding: 0.4rem 0.6rem;
    }
  }
}

/* error page  */
#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
#error-page .content {
  max-width: 70rem;
  text-align: center;
}
.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  animation: animate 10s ease-in-out infinite;
  background: -webkit-repeating-linear-gradient(
    -60deg,
    #71b7e6,
    var(--btn-color),
    #b98acc,
    #ee8176,
    #b98acc,
    var(--btn-color),
    #9b59b6
  );
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  position: relative;
  -webkit-animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.content h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2rem;
}

.content .btns {
  margin: 25px 0;
  display: inline-flex;
  justify-content: center;
}
.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.content .btns a:hover {
  background: var(--btn-color);
  color: #fff;
}

/** -----------------------
** registration section css
** -------------------------  */

.section-registration {
  padding: 0 3.2rem;

  & .container {
    /* background-color: #fff; */
    padding-top: 3.2rem;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .registration-form {
    & label {
      display: block;
      margin: 2.4rem 0 0.8rem 0;
      text-transform: capitalize;
    }
    & input {
      width: 80%;
      padding: 0.6rem 0.6rem;
    }

    & button {
      margin-top: 3.2rem;
    }
  }
}

.adminNav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.adminContainer {
  display: grid;
  padding-top: 0;
  grid-template-columns: 1fr 3fr;
}

.adminList {
  flex-direction: column;
  list-style-type: none;
}

.adminList li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

/** -----------------------
** services section css
** -------------------------  */

.section-services {
  & .container:first-child {
    padding: 0;
  }
  & .grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }

  & .card {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border: 0.2rem solid var(--helper-color);

    & .card-img {
      text-align: center;
      & img {
        width: 70%;
        height: auto;
        filter: drop-shadow(0 0 2rem 2rem #fff);
        -webkit-filter: drop-shadow(0 0 2rem 2rem #fff);
      }
    }

    & .card-details {
      padding: 2.4rem;

      & .grid p {
        font-size: 1.4rem;
      }

      & h2 {
        font-size: 3.2rem;
        margin: 1.2rem 0 2.4rem 0;
      }
    }
  }
}

.admin-dashboard {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  border: 0.2rem solid var(--btn-color);
  min-height: 70rem;

  & header {
    border-right: 0.2rem solid var(--btn-color);

    & ul {
      flex-direction: column;
      gap: 5rem;
      text-transform: uppercase;
      margin-top: 10rem;
      & li a {
        color: var(--bg-color);
      }
    }
  }
}

/* admin  */
.admin-users,
.admin-user {
  /* border: 0.2rem solid var(--btn-color); */
}

.admin-users {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

th {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding: 3rem;
  color: var(--dark-color);
  box-shadow: 0 0.3rem 0 grey;
  margin-bottom: 10px;
  text-transform: capitalize;
}
td {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  padding: 3rem;
  text-align: center;
  color: var(--dark-color);
  width: 30rem;
  /* border: 0.1rem solid red; */
}

table {
  background: #fff;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  border-collapse: collapse;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.admin-contacts-section {
  padding: 2rem;
}

.admin-contacts-section tr {
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, 1fr));
  align-items: center;
  box-shadow: 0 0.3rem 0 grey;
  margin-bottom: 10px;
  border-bottom: 4px solid transparent;
  color: var(--bg-color);

  &:last-child {
    box-shadow: none;
  }
}

body tr {
  display: grid;
  grid-template-columns: repeat(5, minmax(10rem, 1fr));
  align-items: center;
  box-shadow: 0 0.3rem 0 grey;
  margin-bottom: 10px;
  border-bottom: 4px solid transparent;
  color: var(--bg-color);

  &:last-child {
    box-shadow: none;
  }
}

.updateLink {
  background: #cff6dd;
  color: #1fa750;
  border-radius: 3rem;
  padding: 1rem 4rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;

  &:hover {
    color: #cff6dd;
    background: #1fa750;
    font-weight: bold;
  }
}

.admin-section-form {
  background-color: var(--bg-color);
  /* max-width: 60rem; */
  max-width: 60rem;
  /* width: 30rem; */
  padding: 0 10rem;
  color: var(--dark-color);
  margin-left: 10rem;

  & form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;

    & div {
      display: grid;

      & input {
        background-color: var(--helper-color);
        border: none;
        padding: 1.4rem 0rem 1.4rem 2rem;
        color: var(--dark-color);
      }

      & input,
      button {
        max-width: 30rem;
      }
    }
  }
}

/** -----------------------
** media query section css
** -------------------------  */

@media (width <= 998px) {
  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .section-services {
    & .grid-three-cols {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 60%;
        height: auto;
      }
    }
  }
}

@media (width <= 798px) {
  html {
    font-size: 56.25%;
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 50%;
        height: auto;
      }
    }

    & .registration-form {
      & input {
        width: 100%;
        padding: 0.6rem 0.6rem;
      }
    }
  }
}
